.m-t0 {
  margin-top: 0px !important;
}

.m-t10 {
  margin-top: 10px !important;
}

.m-t20 {
  margin-top: 20px !important;
}

.m-t30 {
  margin-top: 30px !important;
}

.m-t40 {
  margin-top: 40px !important;
}

.m-t50 {
  margin-top: 50px !important;
}

.m-b0 {
  margin-bottom: 0px !important;
}

.m-b10 {
  margin-bottom: 10px !important;
}

.m-b20 {
  margin-bottom: 20px !important;
}

.m-b30 {
  margin-bottom: 30px !important;
}

.m-b40 {
  margin-bottom: 40px !important;
}

.m-b50 {
  margin-bottom: 50px !important;
}

.m-l0 {
  margin-left: 0px !important;
}

.m-l10 {
  margin-left: 10px !important;
}

.m-l20 {
  margin-left: 20px !important;
}

.m-l30 {
  margin-left: 30px !important;
}

.m-l40 {
  margin-left: 40px !important;
}

.m-l50 {
  margin-left: 50px !important;
}

.m-r0 {
  margin-right: 0px !important;
}

.m-r10 {
  margin-right: 10px !important;
}

.m-r20 {
  margin-right: 20px !important;
}

.m-r30 {
  margin-right: 30px !important;
}

.m-r40 {
  margin-right: 40px !important;
}

.m-r50 {
  margin-right: 50px !important;
}

.m-a0 {
  margin: 0px !important;
}

.m-a10 {
  margin: 10px !important;
}

.m-a20 {
  margin: 20px !important;
}

.m-a30 {
  margin: 30px !important;
}

.m-a40 {
  margin: 40px !important;
}

.m-a50 {
  margin: 50px !important;
}

.m-auto {
  margin: auto !important;
}

.m-auto-l {
  margin-left: auto !important;
}

.m-auto-r {
  margin-right: auto !important;
}

.p-a15{
  padding:15px !important;
}
.p-r10{
  padding-right:10px !important;
}
.p-r15{
  padding-right:15px !important;
}
// 文字居中
.ta-c {
  text-align: center !important;
}

.ta-l {
  text-align: left !important;
}

.ta-r {
  text-align: right !important;
}

// float
.f-r {
  float: right !important;
}

.f-l {
  float: left !important;
}

//颜色
.c-3 {
  color: #333 !important;
}

//宽度
.width250 {
  width: 250px !important;
}
.width400 {
  width: 400px !important;
}
.width100per{
  width:100% !important;
}
.width80per{
  width:80% !important;
}
.width65per{
  width: 65% !important;
}
